@import "~bootstrap/dist/css/bootstrap.min.css";

.pinta {
  font-size: 100px;
  margin-top: -35px;
}

.value {
  text-align: center;
  display: inline-block;
  margin: auto;
  font-size: 100px;
  width: 250px;
  padding: 20px;
  position: relative;
}
/*  */
#pinta {
  text-align: left;
}

.palo {
  font-size: 100px;
  margin-bottom: -20px;
}
